@import './../../../../../styles/abstract/variables';

.app-main-session-02 {

  .main-session-02-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: lef;
    // gap: 50px;
    // padding-bottom: 30px;



        h1 {
          line-height: normal;
          font-family: Poppins;
          font-size: 40px;
          font-weight: 300;
          color: $primary-black;
        }

        .cards {
          display: flex;
          flex-direction: row;
          justify-content:center;
          align-items: center;
          gap:30px;



          .card {
            width: 320px;
            height: 100%px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            border-radius: 15px;
            background-color:  aqua;//$primary-white;
            box-shadow: $card-shadown;

            padding: 20px;



            .icon {
              width: 105;
              height: 105;
              padding-top: 10px;
            }


          }




        }
  }
}
