<section class="app-main-session-02 no-sel">

  <section class="main-session-02-container">

      <h1>Conheça nosso Seguro Residencial</h1>

      <section class="cards-container">

        <div class="card-wrap">

          <div class="card">

            <div class="icon">
              <img src="./../../../../../assets/img/main/cards/cobertura.svg" alt="imagem cobertura total">
            </div>

            <div class="text">
              <h1>Cobertura Total</h1>
              <p>Para quem quer mais segurança e serviços para o dia a dia. Cobertura contra impacto de veículos, quebra de vidros, espelhos e outros.</p>
            </div>

          </div>

          <div class="card">

            <div class="icon">
              <img src="./../../../../../assets/img/main/cards/beneficios.svg" alt="imagem cobertura total">
            </div>

            <div class="text">
              <h1>Muitos benefícios</h1>
              <p>Sorteios mensais de R$ 20 mil. Assistência Pet, adaptação de imóvel para idosos e outros opcionais incríveis.</p>
            </div>
          </div>

          <div class="card">

            <div class="icon">
              <img src="./../../../../../assets/img/main/cards/servico.svg" alt="imagem cobertura total">
            </div>

            <div class="text">
              <h1>Serviços gratuitos 24h</h1>
              <p>Sorteios mensais de R$ 20 mil. Assistência Pet, adaptação de imóvel para idosos e outros opcionais incríveis.</p>
            </div>
        </div>

      </div>

      </section>
  </section>
</section>

