<section class="app-main-session-02">

  <section class="main-session-02-container">

      <h1>Conheça nosso Seguro Residencial</h1>

      <section class="cards">

        <div class="card">

          <div class="icon">
            <img src="./../../../../../assets/img/main/cards/cobertura.svg" alt="imagem cobertura total">
          </div>
          <h1>Cobertura Total</h1>
          <p>Para quem quer mais segurança e serviços para o dia a dia. Cobertura contra impacto de veículos, quebra de vidros, espelhos e outros.</p>

        </div>

        <div class="card">

          <div class="icon">
            <img src="./../../../../../assets/img/main/cards/cobertura.svg" alt="imagem cobertura total">
          </div>
          <h1>Cobertura Total</h1>
          <p>Para quem quer mais segurança e serviços para o dia a dia. Cobertura contra impacto de veículos, quebra de vidros, espelhos e outros.</p>

        </div>

        <div class="card">

          <div class="icon">
            <img src="./../../../../../assets/img/main/cards/cobertura.svg" alt="imagem cobertura total">
          </div>
          <h1>Cobertura Total</h1>
          <p>Para quem quer mais segurança e serviços para o dia a dia. Cobertura contra impacto de veículos, quebra de vidros, espelhos e outros.</p>

        </div>

      </section>

  </section>
</section>
