



$primary-blue: #0066B3;
$primary-cian: #36B8AE;
$secondary-cian: #309488;
$terciary-cian: #688F7F;

$primary-orange: #EF9106;
$secondary-orange: #eda539;

$primary-black: #231F20;
$secondary-black: #eee4;
$terciary-black: #555555;

$primary-white: #ffffff;
$secondary-white: #eeeeee;

$app-bg:  #F0F5FF;
$carrousel-bg: $secondary-cian;
// $main-bg: $primary-white;


$card-shadown: 0px 8px 10px 0px #E3E7EF;




$shadown-cian: #267168;
$text-light: $primary-white;
$text-shadown: 0 0.2em 0.1em $shadown-cian;
$box-shadown:  0 0.2em 0.1em $secondary-cian;
$box-shadown-light:  0 0.2em 0.1em $primary-cian;

$link: $primary-white;
$link-hover: $primary-white;
$link-active: $primary-white;
$link-visited: $primary-white;

$jumbotron-left: $secondary-cian;
$jumbotron-center: $secondary-cian;
$jumbotron-right: $secondary-cian;

