



$primary-blue: #005ca9;
$primary-cian: #36B8AE;
$secondary-cian: #309488;
$terciary-cian: #688F7F;

$primary-orange: #EF9106;
$secondary-orange: #eda539;

$primary-black: #231F20;
$secondary-black: #eee4;
$terciary-black: #555555;

$primary-white: #ffffff;
$secondary-white: #eeeeee;

$app-bg:  #F0F5FF;
$carrousel-bg: $secondary-cian;

$btn-contract-txt:$secondary-cian;
$btn-contract-bg: $primary-white;

$card-shadown: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

$banner-bg: #e3e7ef;


$shadown-cian: #267168;
$text-light: $primary-white;
$text-shadown: 0 0.2rem 0.1rem $shadown-cian;
$box-shadown:  0 0.2rem 0.1rem $secondary-cian;
$box-shadown-light:  0 0.2rem 0.1rem $primary-cian;

$link: $primary-white;
$link-hover: $primary-white;
$link-active: $primary-white;
$link-visited: $primary-white;

$jumbotron-left: $secondary-cian;
$jumbotron-center: $secondary-cian;
$jumbotron-right: $secondary-cian;

