@import './../../../../../styles/abstract/variables';
@import './../../../../../styles/abstract/utils.scss';

.app-main-session-03 {
  margin-top: 3rem;

  .main-session-03-container {
    width: 100%;
    max-width: 111rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 1rem 3.0rem 1rem ;

    border: 0.2rem solid #D0E0E5;

    box-shadow: 0 0.2rem 0.8rem 0.1rem rgba(19, 73, 178, 0.45);
    border-radius: 0.5rem;
    margin: 1em 0;

        h1 {
          line-height: normal;
          font-family: Poppins;
          font-size: 2.6rem;
          font-weight: 700;
          color: $primary-black;
        }

        .cards-container {

          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;
          padding: 0 2rem;

          .card-wrap {
            width: 100%;
            display: flex;
            gap:5rem;

            .card {
              width: 33.3333%;

              display: flex;
              flex-direction: column;
              padding: 1rem;
              justify-content: flex-start;
              align-items: center;
              background-color: $primary-white;

              .icon{
                width: 15rem;
                height: 15rem;
              }

              .text{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                h1{
                  color: $primary-black;
                  font-size: 1.8rem;
                  font-weight: 700;
                  line-height: normal;
                  text-align: center;
                }

                p{

                  line-height: 2.5rem;
                  font-family: Poppins;
                  font-size: 1.3rem;
                  text-align: center;
                  color:$primary-black;
                }
              }
            }
          }
        }
  }
}
