<section class="app-main-session-03 no-sel">

  <section class="main-session-03-container">

      <h1>Residencial Fácil</h1>

      <section class="cards-container">

        <div class="card-wrap">

          <div class="card">

            <div class="icon">
              <img src="./../../../../../assets/img/main/cards/valor.svg" alt="imagem cobertura total">
            </div>

            <div class="text">
              <h1>Mais barato do que você imagina</h1>
              <p>A proteção para sua casa com pagamento único ou mensal. Além de sorteios mensais de R$20 mil.</p>
            </div>

          </div>

          <div class="card">

            <div class="icon">
              <img src="./../../../../../assets/img/main/cards/beneficios.svg" alt="imagem cobertura total">
            </div>

            <div class="text">
              <h1>Para quem não quer preocupações</h1>
              <p>Cobertura contra incêndios, roubos e despesas de aluguel.</p>
            </div>
          </div>

          <div class="card">

            <div class="icon">
              <img src="./../../../../../assets/img/main/cards/servico.svg" alt="imagem cobertura total">
            </div>

            <div class="text">
              <h1>Assistências Exclusivas</h1>
              <br>
              <p>Chaveiro, eletricista, desentupimento e vidraceiro.​</p>
            </div>
        </div>

      </div>

      </section>
  </section>
</section>

