<section class="app-mega-menu no-sel">
  <div class="mega-menu-container">

      <div class="menu-wrap">

        <div class="item">
          <a href="https://www.caixavidaeprevidencia.com.br/segurodevida" class="a-align">
            <img src="./../../../assets/icon/heart.svg" alt="Seguro de Vida - ícone de coração">
            <span class="text">Seguro de Vida</span>
          </a>
        </div>

        <div class="item">
          <a href="http://localhost:4200/" class="a-align">
            <img src="./../../../assets/icon/house.svg" alt="Seguro de Vida - ícone de coração">
            <span class="text">Residencial e Habitacional</span>
          </a>
        </div>

        <div class="item">
          <a href="https://www.caixaassistencia.com.br/" class="a-align">
              <img src="./../../../assets/icon/tools.svg" alt="Seguro de Vida - ícone de coração"  class="icon">
            <span class="text">Assistência</span>
          </a>
        </div>


        <div class="item">
          <a href="https://www.caixavidaeprevidencia.com.br/seguroprestamista" class="a-align">
            <img src="./../../../assets/icon/money.svg" alt="Seguro de Vida - ícone de coração">
            <span class="text">Seguro Prestamista</span>
          </a>
        </div>

        <div class="item">
          <a href="/Paginas/Capitalizacao.aspx" class="a-align">
            <img src="./../../../assets/icon/base.svg" alt="Seguro de Vida - ícone de coração">
            <span class="text">Capitalização</span>
          </a>
        </div>

        <div class="item">
          <a href="https://www.autocontratar.com.br/seguroauto/" class="a-align">
              <img src="./../../../assets/icon/car.svg" alt="Seguro de Vida - ícone de coração"  class="icon">
            <span class="text">Seguro Auto</span>
          </a>
        </div>


        <div class="item">
          <a href="https://www.caixavidaeprevidencia.com.br/previdencia" class="a-align">
            <img src="./../../../assets/icon/pig.svg" alt="Seguro de Vida - ícone de coração">
            <span class="text">Previdência</span>
          </a>
        </div>

        <div class="item">
          <a href="https://www.caixaconsorcio.com.br/consorcio" class="a-align">
            <img src="./../../../assets/icon/hand.svg" alt="Seguro de Vida - ícone de coração">
            <span class="text">Consórcios</span>
          </a>
        </div>

        <div class="item">
          <a href="https://www.caixasaudeeodonto.com.br/saudeodonto" class="a-align">
              <img src="./../../../assets/icon/medic.svg" alt="Seguro de Vida - ícone de coração"  class="icon">
            <span class="text">Saúde e Odonto</span>
          </a>
        </div>

    </div>
  </div>
</section>
