@import './../../../../../styles/abstract/variables';
@import './../../../../../styles/abstract/utils.scss';


/* Acima de 1200px */
.app-main-session-01 {

  .main-session-01-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    align-items: center;
    gap: 3rem;
    padding: 1rem 1rem 3.0rem 1rem ;

    border: 0.2rem solid #D0E0E5;

    box-shadow: 0 0.2rem 0.8rem 0 rgba(19, 73, 178, 0.45);
    border-radius: 0.5rem;
    margin: 1em 0;

    .left {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      padding-top: 1rem;
      padding-left: 1.2rem;

      width: 35.5%;

      img{
        width: 30rem;
        height: 21.6rem;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 73%;


      h1 {
          line-height: normal;
          font-family: Poppins;
          font-size: 2.5rem;
          font-weight: 700;
          color: $primary-black;
        }

        p{
          line-height: normal;
          font-family: Poppins;
          font-size: 1.3rem;

          color:$primary-black;
      }
    }
  }
}


@media (max-width: 1000px){

  .app-main-session-01 {
    margin-top: 2rem;

    .main-session-01-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      max-width: 89.6rem;
      align-items: center;
      gap: 3rem;
      padding: 1.5rem 1rem 3.0rem 1rem ;

      border: 0.2rem solid #D0E0E5;

      box-shadow: 0 0.2rem 0.8rem 0 rgba(19, 73, 178, 0.45);
      border-radius: 0.5rem;
      margin: 1em 0;
    }
  }
}
