<section class="app-main-session-01 no-sel">

  <section class="main-session-01-container">

    <section class="left">
      <img src="./../../../../../assets/img/main/house-01.png" alt="imagem abstrata sessao 01"/>
    </section>

    <section class="right">
      <h1>Residencial e Habitacional</h1>
      <p>O Seguro Residencial é a melhor forma de zelar pela segurança da sua casa e o bem-estar da sua família.</p>
      <p>Com esse seguro você tem a garantia de proteção para seu imóvel e os objetos internos da casa.
        Um raio pode causar danos elétricos irreparáveis em seus eletrodomésticos. Assim, nenhum imprevisto, seja grande ou pequeno, vai te trazer prejuízo.</p>
      <p>Além das coberturas, você também tem acesso à assistência 24h com serviços profissionais que vão resolver imprevistos como uma pia entupida ou um
         chaveiro de forma prática e sem precisar gastar uma fortuna por isso.</p>
    </section>


  </section>
</section>
