<section class="app-main-session-05 no-sel">

  <section class="main-session-05-container">

    <div class="left">
      <h1>Seguro Habitacio​nal Mais e Habitacional​ Especial</h1>
      <p>Você pode escolher a opção que melhor te at​ende para ter as vantagens do Seguro Residencial dentro do seu Seguro Habitacional. Confira alguns dos benefícios:</p>

      <div class="sub">
        <p class="sub-title">Habitacional Mais</p>
          <p>- Sorteio de até R$ 350 mil para quitação do financiamento</p>
          <p>- Proteção para bens dos imóveis</p>
          <p>- Benefícios além do conteúdo da sua casa: Auxílio funeral e cesta básica</p>
          <p>- Assistências como Chaveiro, eletricista, desentupimento, vidraceiro e muito mais</p>
      </div>

      <div class="sub">
        <p class="sub-title">Habitacional Especial</p>
        <p>- Sorteio de até R$ 750 mil para quitação do financiamento</p>
        <p>- Proteção para bens dos imóveis</p>
        <p>- Assistências como Chaveiro, eletricista, desentupimento, vidraceiro e muito mais</p>
      </div>
      
    </div>

    <div class="right">
      <img src="./../../../../../assets/img/main/keys.svg"  alt="">
    </div>
  </section>

  <section class="button no-sel">
    <a  class="btn" href="https://autoatendimento.caixaresidencial.com.br"> Área do Cliente</a>
  </section>
</section>
