<header class="app-header">
  <section class="header-container">

    <section class="header-brand">
      <img ngSrc="./assets/img/logo/logo.svg" alt="logotipo da Caixa Residencial" priority width="135" height="81">
      <nav>
        <ul>
          <li><a href="#">Residencial</a></li>
          <li><a href="#">Habitacional</a></li>
          <li><a href="#">Canais de Atendimento</a></li>
          <li><a href="#">Área do Cliente</a></li>
        </ul>
      </nav>
    </section>
    <section class="header-nav">
      <ul>
        <li><a href="#">Quem Somos</a></li>
        <li><a href="#">SAC/Ouvidoria</a></li>
      </ul>
    </section>
  </section>
</header>
