  .container-breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1.3rem;

    font-style: normal;
    padding: 30px 16px  0 1.6rem;

    a{
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }
