
<header class="app-header no-sel">
  <section class="header">
    <section class="menu-top">
      <ul>
        <li><a href="https://www.caixaseguridade.com.br/Paginas/QuemSomos.aspx">Quem Somos</a></li>
        <li class="no-pad-right"><a href="https://www.caixaseguridade.com.br/Paginas/CanaisDeAtendimento.aspx">SAC/Ouvidoria</a></li>
      </ul>
    </section>

    <section class="menu-bottom">
      <div class="logo">
        <a href="https://www.caixaseguridade.com.br">
          <img src="./../../../assets/img/logo/logo.svg" alt="logotipo da Caixa Residencial" >
        </a>
      </div>
      <nav class="menu-principal">
        <ul class="nav-links">
          <li class="sub">
            <a href="#"><span class="item-arrow">Produtos <img src="./../../../assets/icon/arrow-down.svg" alt=""></span></a>
            <div class="sub-menu">
              <ul>
                <li>
                  <a href="https://www.caixavidaeprevidencia.com.br/segurodevida" class="a-align">
                    <img src="./../../../assets/icon/heart.svg" alt="Seguro de Vida - ícone de coração">
                    <span class="text">Seguro de Vida</span>
                  </a>
                </li>
                <li>
                  <a href="http://localhost:4200/" class="a-align">
                    <img src="./../../../assets/icon/house.svg" alt="Seguro de Vida - ícone de coração">
                    <span class="text">Residencial e Habitacional</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.caixaassistencia.com.br/" class="a-align">
                    <img src="./../../../assets/icon/tools.svg" alt="Seguro de Vida - ícone de coração"  class="icon">
                  <span class="text">Assistência</span>
                </a>
                </li>
                <li>
                  <a href="https://www.caixavidaeprevidencia.com.br/seguroprestamista" class="a-align">
                    <img src="./../../../assets/icon/money.svg" alt="Seguro de Vida - ícone de coração">
                    <span class="text">Seguro Prestamista</span>
                  </a>
                </li>
                <li>
                  <a href="/Paginas/Capitalizacao.aspx" class="a-align">
                    <img src="./../../../assets/icon/base.svg" alt="Seguro de Vida - ícone de coração">
                    <span class="text">Capitalização</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.autocontratar.com.br/seguroauto/" class="a-align">
                    <img src="./../../../assets/icon/car.svg" alt="Seguro de Vida - ícone de coração"  class="icon">
                  <span class="text">Seguro Auto</span>
                </a>
                </li>
                <li>
                  <a href="https://www.caixavidaeprevidencia.com.br/previdencia" class="a-align">
                    <img src="./../../../assets/icon/pig.svg" alt="Seguro de Vida - ícone de coração">
                    <span class="text">Previdência</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.caixaconsorcio.com.br/consorcio" class="a-align">
                    <img src="./../../../assets/icon/hand.svg" alt="Seguro de Vida - ícone de coração">
                    <span class="text">Consórcios</span>
                  </a>
                </li>
                <li>
                  <a href="https://www.caixasaudeeodonto.com.br/saudeodonto" class="a-align">
                    <img src="./../../../assets/icon/medic.svg" alt="Seguro de Vida - ícone de coração"  class="icon">
                  <span class="text">Saúde e Odonto</span>
                </a>
                </li>

                </ul>
           </div>

          </li>
          <li><a href="https://www.caixaseguridade.com.br/Paginas/CanaisDeAtendimento.aspx">Canais de Atendimento</a></li>
          <li><a href="https://www.caixaseguridade.com.br/Paginas/AreaDoCliente.aspx">Área do Cliente</a></li>
          <li><a href="https://www.ri.caixaseguridade.com.br/">Relação com Investidores</a></li>
          <li><a href="https://www.caixaseguridade.com.br/Paginas/Caixacorretora.aspx">CAIXA Corretora</a></li>
        </ul>
      </nav>

    </section>
  </section>
</header>
